biorealistic-v1-model
bmtk
GLIF_network/
GLIF_network_old/
GLIF_network_original/
GLIF_network_adjusted/
log_dir*
logdir*
*.ipynb*
v1_model_utils/__pycache__
v1_model_utils/.cache
general_utils/__pycache__
Simulation_results
Error
Out
requirements.txt
requirements.yml
drifting_gratings.sh
input_data_extractor.py
network_data_extractor.py
GLIF_network/input/firing_rates_mine.lzma
__pycache__
*.out
logs/
results*/
legit_results/
*.html
.vscode/settings.json
prueba_tf212.py
v1_model_utils/Old
v1_model_utils/models2.py
OSI_DSI_dataset
v1_model_utils/Old/models_old.py
