biorealistic-v1-model
bmtk
GLIF_network*
log_dir*
logdir*
pruebas.ipynb
v1_model_utils/__pycache__
v1_model_utils/.cache
general_utils/__pycache__
Simulation_results
Error
Out
requirements.txt
requirements.yml
drifting_gratings.sh
input_data_extractor.py
network_data_extractor.py
GLIF_network/input/firing_rates_mine.lzma
__pycache__
*.out
*.err
logs/
results*/
*result/
*results/
core_*/
legit_results/
*.html
.vscode/settings.json
prueba_tf212.py
v1_model_utils/Old
v1_model_utils/models2.py
OSI_DSI_dataset
v1_model_utils/Old/models_old.py
.ipynb_checkpoints/prueba_gpu-checkpoint.ipynb
lgn_model/.cache_lgn
lgn_model/data
v1_model_utils/Old/models_old.py
lgn_model/data/temporal_kernels_120x80.pkl
synaptic_data/basis_function_weights_5.csv
synaptic_data/tau_basis_5.npy
.gitignore
synaptic_data/double_alpha_params_full.csv
